@font-face {
    font-family: 'Lumberjack';
    src: url('Lumberjack.woff2') format('woff2'),
        url('Lumberjack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lumberjack';
    src: url('Lumberjack.woff2') format('woff2'),
        url('Lumberjack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

